.button {
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 0.25rem;
  background-color: transparent;
  cursor: pointer;
}

.primary {
  transition: transform 0.1s ease-in-out;
}

.primary:hover {
  transform: scale(1.1);
}

.secondary {
  border: none;
  transition: transform 0.1s ease-in-out;
}

.secondary:hover {
  transform: scale(1.1);
}
